$logo: #00EE50;
$green: #75C45C;
$itemlist: #ADDFDB;
$red: #E14F50;
$purple: #695D98;

/*----Global----*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.hoverable {
  transition: all 0.2s;
  &:hover {
    box-shadow: 1px 1px 8px #888888;
    cursor: pointer;
  }
}

/*-----Stlyes for tabs section------*/

.tabs {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 1px 1px 8px #888888;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  div {
    a {
      color: white;
      text-decoration: none;
      margin: 0px 10px;
      padding: 15px;
      @extend .hoverable;
    }
    &.logo {
      position: absolute;
      left: 20px;
      color: $logo;
      text-transform: uppercase;
    }
    @media (max-width: 660px) {
      &.logo {
        display: none;
      }
    }
  }
}

/*----- Styles for Content page ------*/
.content-page {
  margin-top: 80px;
  padding: 5px 20px;
  h2 {
    border-bottom: 1px solid black;
  }
  h4 {
    margin: 0px;
  }
  hr {
    margin: 30px 0px;
  }
  .item-list {
    padding: 10px;
    margin-top: 10px;
    background-color: $itemlist;
    position: relative;
    .btDelete, .btUpdate{
      background-color: $red;
      color: white;
      padding: 10px 20px;
      outline: none;
      border: none;
      position: absolute;
      right: 20px;
      bottom: 20px;
      @extend .hoverable;
    }
    .btUpdate {
      background-color: $purple;
      right: 120px;
    }
  }
  .moviesList {
    width: calc(100% - 200px);
    margin-top: 10px;
    button {
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 10px;
      margin: 0px 5px;
      @extend .hoverable;
    }
  }
}

/*------ Styles for Userpage --------*/
.cinemas-tabs {
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  transition: all 0.2s;
  .square {
    display: inline-block;
    height: 40px;
    background-color: lightgray;
    margin: 0px 10px;
    outline: none;
    border: none;
    font-size: 16px;
    @extend .hoverable;
    &.select {
      background-color: $green;
      color: white;
    }
  }
}

/*-------- Styles for CRUD Movies and Cinemas -------*/
.formNewMovie {
  input[type=text], select {
    outline: none;
    padding: 10px 20px;
    margin: 0px 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  select {
    height: 37px;
    width: 110px;
    background-color: transparent;
  }
  input.btCreate {
    background-color: $green;
    color: white;
    outline: none;
    padding: 10px 20px;
    @extend .hoverable;
  }
}
.popUp {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  &.show {
    display: flex;
  }
  .formUpdateMovie {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 3px 18px #888888;
    @extend .formNewMovie;
  }
  .btClose {
    outline: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    bottom: 30vh;
    @extend .hoverable;
  }
}